.footer--links {
  margin-left: 105px;
  font-family: 'Raleway', sans-serif;
  color: #fff !important;
  &__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__list {
    font-size: 16px;
    line-height: 27px;
  }
  &__item {
    margin-top: 15px;
  }
  a {
    color: #fff !important;
  }
}
