* {
  font-family: 'Raleway', sans-serif;
  color: #214e41;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;

  @media (max-width: 1464px) {
    padding: 0 24px;
  }

  @media (max-width: 360px) {
    padding: 0 15px;
  }
}

.advantages {
  .container {
    padding: 213px 180px 120px;
  }

  .block__wrapper {
    max-width: 478px;
  }
}

.mobile {
  .container {
    padding: 0 141px 0 235px;
  }

  .block__wrapper {
    order: 2;
  }
}

.employers {
  .container {
    padding: 126px 0 112px 120px;
    background: url('../../public/images/employers.jpg') center/cover no-repeat;
  }
  picture {
    display: none;
  }
}
