body {
  color: #214e41;
}
.advantages {
  .container {
    padding: 100px 60px 120px;
  }

  .block__wrapper {
    max-width: 478px;
  }
}

.brings {
  padding: 120px 0 130px;
}

.about {
  .container {
    padding: 120px 0;
  }
}

.mobile {
  .container {
    padding: 0 20px 0 115px;
  }

  .block__wrapper {
    order: 2;
  }
}

.employers {
  background: url('../../public/images/employers.jpg') center/cover no-repeat;
  height: 522px;
  .container {
    padding-top: 126px;
  }
  img {
    display: none;
  }
}

.companies {
  .container {
    padding: 120px 0 125px;
  }
}

.line {
  display: block;
  max-width: 1350px;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(199, 199, 199, 0.37);
}

.news {
  .container {
    padding: 120px 0;
  }
}

.contact {
  background-color: #e3eeed;
}

footer {
  padding: 100px 0 50px;
  background-color: #214e41;
  .line {
    margin-top: 70px;
    background-color: #fff;
  }
}
