.block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrapper {
    max-width: 555px;
  }
  &__title {
    font-size: 13px;
    text-transform: uppercase;

    color: #43806c;
  }

  &__subtitle {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    line-height: 46px;

    color: #214e41;
  }

  &__text {
    margin: 34px 0 26px;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
  }

  &__button {
    padding-bottom: 12px;
    max-width: 107px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    background-color: transparent;
    color: #214e41;
    border-radius: 0;
    border-bottom: 2px solid #214e41;
  }
}
