.companies {
  &__title {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 115px;
    padding: 0 75px;
  }

  &__slider {
    position: relative;
    max-width: 1050px;
    margin: 75px auto 0;
  }

  &__button-left {
    position: absolute;
    left: -72px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__button-right {
    position: absolute;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
  }
}
