.companies {
  &__title {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 115px;
    padding: 0 75px;
  }

  &__slider {
    position: relative;
    width: 1050px;
    margin: 0 auto;
  }
}
